@import "./coolors.css";

.login {
  padding: 1rem;
  max-width: 25rem;
  margin: 2rem auto;
}

.signin {
  max-width: max-content;
  margin: 2rem auto;
  padding: 1rem;
}

.login:hover,
.signin:hover {
  box-shadow: var(--all-side-bold-shadow);
}

.login header,
.signin header {
  font-size: 1.7rem;
  font-family: var(--heading-font);
  font-weight: bold;
  padding: 1rem;
}

.form-block {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: left;
  align-items: stretch;
}

.form-block-check {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.form-block-check .input {
  font-size: 1.2rem;
}

.form-block input {
  padding: 0.5rem 1rem;
}

.form-block .label {
  font-size: large;
}

.login .Link,
.signin .Link {
  text-decoration: none;
  color: var(--dark-col);
  font-weight: bold;
}

.form-block .Link {
  font-size: larger;
  text-align: center;
}

.form-block-name {
  display: flex;
}