@import "./coolors.css";

.comment-card {
     border: 1px solid var(--dark-col);
}

.comment-card .comment-content {
     display: flex;
     padding: 5px;
     align-items: center;
}

.comment-content .user-name {
     font-size: 1rem;
}

.comment-card .user-comment {
     background-color: var(--back-light);
     padding: 5px 10px;
     font-size: 1.3rem;
     width: 100%;
     text-align: left;
     margin: 0;
}

.comment-card .btn-container {
     justify-content: unset;
}

.comment-box {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 !important;
}

.comment-box input {
     width: 100%;
     height: 20px;
     margin: 10px;
     padding: 5px;
     background-color: var(--back-light);
     border: 1px solid var(--dark-col);
}