@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");

:root {
  --dark-col: #22577a;
  --light-back: #38a3a5;
  --back-light: #c7f9cc;
  --highlight: #80ed99;
  --teal-col: #57cc99;
  --notify-font: "Hubballi", cursive;
  --heading-font: "Libre Bodoni", serif;
  --content-font: "League Spartan", sans-serif;
  --white: white;
  --light-grey: #ced4da;
  --little-dark-grey: #495057;
  --little-light-grey: #adb5bd;
  --red-color: #ef233c;
  --green-color: #2b9348;
  --bottom-shadow: 0px 15px 10px -10px var(--dark-col);
  --top-shadow: 0px -15px 10px -15px var(--dark-col);
  --right-bottom-shadow: 15px -10px 15px -15px var(--little-dark-grey);
  --all-side-shadow: 0px 0px 2px 2px var(--little-light-grey);
  --all-side-bold-shadow: 0px 0px 10px 10px var(--teal-col);
  --font: "Gideon Roman", cursive;
  --all-side-red-border: 0px 0px 2px 2px var(--red-color);
  --all-side-green-border: 0px 0px 2px 2px var(--green-color);
}
