@import "./coolors.css";

.post-container,
.user-post-container {
  margin: 1.5rem 1rem;
  padding: 1rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: var(--highlight);
  font-family: var(--content-font);
}

.post-data {
  width: 100%;
  margin-right: 10px;
}

.post-text {
  width: 100%;
  height: 100px;
  background-color: var(--back-light);
  color: var(--dark-col);
  font-weight: 600;
  padding: 5px;
  font-size: 1rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-post-icon .icon {
  color: var(--dark-col);
}

.user-post-container .create-post-icon {
  display: flex;
  justify-content: space-between;
}