@import "./coolors.css";

.single-post {
     padding: 1rem;
     box-shadow: var(--all-side-bold-shadow);
     background-color: var(--highlight);
}

.single-post h2 {
     color: var(--back-light);
     background-color: var(--dark-col);
     padding: 1rem;
     letter-spacing: 2px;
     font-family: var(--heading-font);
}

.single-post article {
     display: flex;
     padding: 1rem;
     border: 2px solid var(--dark-col);
}

.single-post article .image img {
     width: 50px;
     height: 50px;
}

.single-post p {
     padding: 1rem;
     font-size: 1.3rem;
     background-color: var(--back-light);
     width: 100%;
}

.single-post textarea {
     background-color: var(--back-light);
     width: 300px;
     height: 100px;
     font-size: 1.3rem;
}

/* edit-modal */

.modal-display-wrap {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 600px;
     position: absolute;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 99;
     color: white;
}



.display-none {
     display: none;
}

.playlist-modal {
     border-radius: 0.5rem;
     border: 3px solid white;
     background-color: var(--back-light);
     width: 20rem;
     height: fit-content;
     padding: 1rem;
}

.z-index {
     z-index: 99;
}

.z-index .modal-display-wrap {
     max-width: 40rem;
     height: 500px;
     justify-content: unset;
}

.z-index .playlist-modal,
.z-index .playlist-modal .image {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.z-index .image input[type="file"] {
     background-color: var(--dark-col);
     color: var(--highlight);
     margin: 10px;
}

.z-index .playlist-modal input.portfolio {
     background-color: var(--dark-col);
     color: var(--back-light);
     font-size: 1rem;
     padding: 10px;
     margin: 10px;
}

.z-index .bio {
     width: fit-content;
     margin: 10px;
}

/* comment-modal */
.comment-modal {
     position: relative;
     width: auto;
}

.comment-modal h2 {
     margin: 0;
     font-size: 1rem;
     font-weight: 200;
}

.comment-modal .playlist-modal {
     display: flex;
     flex-direction: column;
}

.comment-modal .playlist-modal input {
     height: 30px;
     margin: 10px;
}

.comment-modal .btn-container {
     justify-content: center;
}