@import "./coolors.css";

.post-filter,
.bookmark {
  padding: 1rem;
}

.heading {
  color: var(--dark-col);
  font-size: 1.7rem;
  margin: 0;
  text-align: center;
  font-family: var(--heading-font);
}

.post-filter-container {
  display: flex;
  font-family: var(--content-font);
  margin: auto;
}

.post-filter-container ul {
  list-style: none;
  padding: 1rem;
  margin: auto;
}

.post-filter-container li {
  display: inline;
  margin: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark-col);
}

.post-data .heading{
  font-size: 1.3rem;
  text-align: left;
}